<%= form_for @recipe do |f| %>
  <p>Recipe Title</p>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <p>Ingredients</p>
  <%= f.fields_for :ingredients do |ing| %>
    <%= ing.label :name %>
    <%= ing.text_field :name %>

    <%= ing.label :quantity %>
    <%= ing.text_field :quantity %>

  <% end %>
  <%= f.submit %>
<% end %>